github "Alamofire/Alamofire" ~> 4.4
github "SwiftyJSON/SwiftyJSON"
github "apollostack/apollo-ios"
github "rs/SDWebImage"
github "suzuki-0000/SKPhotoBrowser"
github "getsentry/sentry-cocoa" "4.1.0"
github "Alamofire/AlamofireImage" ~> 3.3
github "stephencelis/SQLite.swift" ~> 0.11.4
github "evgenyneu/keychain-swift" ~> 10.0
